{
  "systemNames" : [
    [1.0, "Persei" ],
    [1.0, "Cephei" ],
    [1.0, "Leonis" ],
    [1.0, "Hydrae" ],
    [1.0, "Leporis" ],
    [1.0, "Upsilon" ],
    [1.0, "Aquarii" ],
    [1.0, "Aurigae" ],
    [1.0, "Australis" ],
    [1.0, "Cancri" ],
    [1.0, "Canis" ],
    [1.0, "Carinae" ],
    [1.0, "Cas" ],
    [1.0, "Ceti" ],
    [1.0, "Coronae" ],
    [1.0, "Crateris" ],
    [1.0, "Crucis" ],
    [1.0, "Crucis" ],
    [1.0, "Cygni" ],
    [1.0, "Draconis" ],
    [1.0, "Eri" ],
    [1.0, "Gruis" ],
    [1.0, "Herculis" ],
    [1.0, "Lyncis" ],
    [1.0, "Lyrae" ],
    [1.0, "Orionis" ],
    [1.0, "Pegasi" ],
    [1.0, "Phoenicis" ],
    [1.0, "Piscium" ],
    [1.0, "Sagittarii" ],
    [1.0, "Sco" ],
    [1.0, "Tauri" ],
    [1.0, "Trianguli" ],
    [1.0, "Virginis" ],
    [1.0, "Andromidae" ],
    [1.0, "Arietis" ],
    [1.0, "Corvi" ],
    [1.0, "Mensae" ],
    [1.0, "HM" ],
    [1.0, "WAZ" ],
    [1.0, "UZ" ],
    [1.0, "XO-<onedigit>" ],
    [1.0, "Acamar" ],
    [1.0, "Achernar" ],
    [1.0, "Achird" ],
    [1.0, "Acrux" ],
    [1.0, "Acubens" ],
    [1.0, "Adhafera" ],
    [1.0, "Adhara" ],
    [1.0, "Ain" ],
    [1.0, "Aladfar" ],
    [1.0, "Al Athfar" ],
    [1.0, "Albaldah" ],
    [1.0, "Albali" ],
    [1.0, "Albireo" ],
    [1.0, "Alchiba" ],
    [1.0, "Alcor" ],
    [1.0, "Alcyone" ],
    [1.0, "Aldebaran" ],
    [1.0, "Alderamin" ],
    [1.0, "Al Dhanab" ],
    [1.0, "Al Dhibain" ],
    [1.0, "Alfecca" ],
    [1.0, "Alfirk" ],
    [1.0, "Algedi" ],
    [1.0, "Algenib" ],
    [1.0, "Algenubi" ],
    [1.0, "Algieba" ],
    [1.0, "Algol" ],
    [1.0, "Alhena" ],
    [1.0, "Alifa" ],
    [1.0, "Alioth" ],
    [1.0, "Al Kab" ],
    [1.0, "Alkaid" ],
    [1.0, "Alkalurops" ],
    [1.0, "Algorab" ],
    [1.0, "Al Kaphrah" ],
    [1.0, "Alkes" ],
    [1.0, "Almaaz" ],
    [1.0, "Almach" ],
    [1.0, "Al Minliar" ],
    [1.0, "Asad" ],
    [1.0, "Al Nair" ],
    [1.0, "Alnasl" ],
    [1.0, "Alnilam" ],
    [1.0, "Alnitak" ],
    [1.0, "Al Niyat" ],
    [1.0, "Alpha Ant" ],
    [1.0, "Alpha Aps" ],
    [1.0, "Alpha Ara" ],
    [1.0, "Alpha Cae" ],
    [1.0, "Alpha Cam" ],
    [1.0, "Alpha Cha" ],
    [1.0, "Alpha Cir" ],
    [1.0, "Alpha Dor" ],
    [1.0, "Alpha For" ],
    [1.0, "Alpha Hor" ],
    [1.0, "Alpha Hyi" ],
    [1.0, "Alpha Lac" ],
    [1.0, "Alpha Lyn" ],
    [1.0, "Alpha Men" ],
    [1.0, "Alpha Mic" ],
    [1.0, "Alpha Mon" ],
    [1.0, "Alpha Mus" ],
    [1.0, "Alpha Oct" ],
    [1.0, "Alpha Pic" ],
    [1.0, "Alpha Pyx" ],
    [1.0, "Alpha Ret" ],
    [1.0, "Alpha Scl" ],
    [1.0, "Alpha Sct" ],
    [1.0, "Alpha Tel" ],
    [1.0, "Alpha Tuc" ],
    [1.0, "Alpha Vol" ],
    [1.0, "Alphard" ],
    [1.0, "Alphecca" ],
    [1.0, "Alpheratz" ],
    [1.0, "Alrescha" ],
    [1.0, "Alsafi" ],
    [1.0, "Alsciaukat" ],
    [1.0, "Alshain" ],
    [1.0, "Altais" ],
    [1.0, "Altair" ],
    [1.0, "Al Tarf" ],
    [1.0, "Alterf" ],
    [1.0, "Al Thalimain" ],
    [1.0, "Aludra" ],
    [1.0, "Alula" ],
    [1.0, "Australis" ],
    [1.0, "Alula Borealis" ],
    [1.0, "Alya" ],
    [1.0, "Al Zirr" ],
    [1.0, "Ankaa" ],
    [1.0, "Anser" ],
    [1.0, "Antares" ],
    [1.0, "Anwar al Farkadain" ],
    [1.0, "Arcturus" ],
    [1.0, "Arkab" ],
    [1.0, "Arrakis" ],
    [1.0, "Ascella" ],
    [1.0, "Asellus" ],
    [1.0, "Aspidiske" ],
    [1.0, "Atik" ],
    [1.0, "Atlas" ],
    [1.0, "Atria" ],
    [1.0, "Avior" ],
    [1.0, "Azha" ],
    [1.0, "Baten Kaitos" ],
    [1.0, "Beid" ],
    [1.0, "Bellatrix" ],
    [1.0, "Beta Ara" ],
    [1.0, "Beta Cam" ],
    [1.0, "Beta Com" ],
    [1.0, "Beta CrA" ],
    [1.0, "Beta Dor" ],
    [1.0, "Beta Equ" ],
    [1.0, "Beta Gru" ],
    [1.0, "Beta Hor" ],
    [1.0, "Beta Hya" ],
    [1.0, "Beta Hyi" ],
    [1.0, "Beta LMi" ],
    [1.0, "Beta Lup" ],
    [1.0, "Beta Mon" ],
    [1.0, "Beta Mus" ],
    [1.0, "Beta Pav" ],
    [1.0, "Beta Phe" ],
    [1.0, "Beta Pic" ],
    [1.0, "Beta PsA" ],
    [1.0, "Beta Scl" ],
    [1.0, "Beta Sct" ],
    [1.0, "Beta Ser" ],
    [1.0, "Beta Sei" ],
    [1.0, "Beta Sge" ],
    [1.0, "Beta TrA" ],
    [1.0, "Beta Tri" ],
    [1.0, "Beta Tuc" ],
    [1.0, "Betelgeuse" ],
    [1.0, "Biham" ],
    [1.0, "BQ Gem" ],
    [1.0, "Canopus" ],
    [1.0, "Capella" ],
    [1.0, "Caph" ],
    [1.0, "Castor" ],
    [1.0, "Cebalrai" ],
    [1.0, "Celaeno" ],
    [1.0, "Chara" ],
    [1.0, "Chertan" ],
    [1.0, "Chi Aql" ],
    [1.0, "Chi Aqr" ],
    [1.0, "Chi Car" ],
    [1.0, "Chi Cyg" ],
    [1.0, "Chi Eri" ],
    [1.0, "Chi Her" ],
    [1.0, "Chi Lup" ],
    [1.0, "Chi Oph" ],
    [1.0, "Chi-1 Ori" ],
    [1.0, "Cor Caroli" ],
    [1.0, "Cursa" ],
    [1.0, "Cygnus X-1" ],
    [1.0, "Dabih" ],
    [1.0, "Delta And" ],
    [1.0, "Delta Aql" ],
    [1.0, "Delta Aur" ],
    [1.0, "Delta Boo" ],
    [1.0, "Delta Cen" ],
    [1.0, "Delta Cep" ],
    [1.0, "Delta Cet" ],
    [1.0, "Delta-1 CMi" ],
    [1.0, "Delta Col" ],
    [1.0, "Delta Crb" ],
    [1.0, "Delta Crt" ],
    [1.0, "Delta Cru" ],
    [1.0, "Delta Cyg" ],
    [1.0, "Delta Del" ],
    [1.0, "Delta Equ" ],
    [1.0, "Delta-1 Gru" ],
    [1.0, "Delta-2 Gru" ],
    [1.0, "Delta Her" ],
    [1.0, "Delta Hya" ],
    [1.0, "Delta Lib" ],
    [1.0, "Delta Lup" ],
    [1.0, "Delta-1 Lyr" ],
    [1.0, "Delta-2 Lyr" ],
    [1.0, "Delta Per" ],
    [1.0, "Delta Psc" ],
    [1.0, "Delta Sct" ],
    [1.0, "Delta Ser" ],
    [1.0, "Delta Sge" ],
    [1.0, "Delta Tri" ],
    [1.0, "Delta Vel" ],
    [1.0, "Delta Vir" ],
    [1.0, "Delta Vol" ],
    [1.0, "Deneb" ],
    [1.0, "Deneb Algedi" ],
    [1.0, "Deneb Al Okab Aus" ],
    [1.0, "Deneb Al Okab Bor" ],
    [1.0, "Deneb Dulfim" ],
    [1.0, "Deneb Kaitos" ],
    [1.0, "Denebola" ],
    [1.0, "Diadem" ],
    [1.0, "Dschubba" ],
    [1.0, "Dubhe" ],
    [1.0, "Edasich" ],
    [1.0, "Electra" ],
    [1.0, "Elnath" ],
    [1.0, "Eltanin" ],
    [1.0, "Enif" ],
    [1.0, "Eps And" ],
    [1.0, "Eps Ari" ],
    [1.0, "Eps Cen" ],
    [1.0, "Eps Cep" ],
    [1.0, "Eps CrA" ],
    [1.0, "Eps CrB" ],
    [1.0, "Eps Cru" ],
    [1.0, "Eps Equ" ],
    [1.0, "Eps Eri" ],
    [1.0, "Eps Her" ],
    [1.0, "Eps Hya" ],
    [1.0, "Eps Ind" ],
    [1.0, "Eps Lep" ],
    [1.0, "Eps Lyr" ],
    [1.0, "Eps Mon" ],
    [1.0, "Eps Mus" ],
    [1.0, "Eps Per" ],
    [1.0, "Eps Sco" ],
    [1.0, "Eps Sct" ],
    [1.0, "Eps Ser" ],
    [1.0, "Eps UMi" ],
    [1.0, "Errai" ],
    [1.0, "Eta Aql" ],
    [1.0, "Eta Aqr" ],
    [1.0, "Eta Car" ],
    [1.0, "Eta Cen" ],
    [1.0, "Eta Cep" ],
    [1.0, "Eta CMi" ],
    [1.0, "Eta CrB" ],
    [1.0, "Eta Cru" ],
    [1.0, "Eta Crv" ],
    [1.0, "Eta Cyg" ],
    [1.0, "Eta Her" ],
    [1.0, "Eta Leo" ],
    [1.0, "Eta Lup" ],
    [1.0, "Eta Per" ],
    [1.0, "Eta Sco" ],
    [1.0, "Eta Ser" ],
    [1.0, "Eta Sgr" ],
    [1.0, "Fomalhaut" ],
    [1.0, "Fum al Samakah" ],
    [1.0, "Furud" ],
    [1.0, "G Sco" ],
    [1.0, "Gacrux" ],
    [1.0, "Gamma Ara" ],
    [1.0, "Gamma Cas" ],
    [1.0, "Gamma CMi" ],
    [1.0, "Gamma Crt" ],
    [1.0, "Gamma CrB" ],
    [1.0, "Gamma Del" ],
    [1.0, "Gamma Dor" ],
    [1.0, "Gamma Equ" ],
    [1.0, "Gamma Her" ],
    [1.0, "Gamma Hya" ],
    [1.0, "Gamma Hyi" ],
    [1.0, "Gamma Lep" ],
    [1.0, "Gamma Lup" ],
    [1.0, "Gamma Mic" ],
    [1.0, "Gamma Mon" ],
    [1.0, "Gamma-2 Nor" ],
    [1.0, "Gamma Per" ],
    [1.0, "Gamma Phe" ],
    [1.0, "Gamma Psc" ],
    [1.0, "Gamma PsA" ],
    [1.0, "Gamma Scl" ],
    [1.0, "Gamma Sct" ],
    [1.0, "Gamma Ser" ],
    [1.0, "Gamma Sge" ],
    [1.0, "Gamma TrA" ],
    [1.0, "Gamma Tri" ],
    [1.0, "Gamma Vol" ],
    [1.0, "Garnet Star" ],
    [1.0, "Giausar" ],
    [1.0, "Gienah Corvi" ],
    [1.0, "Gienah Cygni" ],
    [1.0, "Girtab" ],
    [1.0, "GG Lup" ],
    [1.0, "Gomeisa" ],
    [1.0, "Gorgonea Tertia" ],
    [1.0, "Graffias (Acrab)" ],
    [1.0, "Grumium" ],
    [1.0, "Hadar (Agena)" ],
    [1.0, "Haedus I" ],
    [1.0, "Haedus II" ],
    [1.0, "Hamal" ],
    [1.0, "HD 10180" ],
    [1.0, "Hyi" ],
    [1.0, "HD 20367 Ari" ],
    [1.0, "HD 50554 Gem" ],
    [1.0, "HD 188753 Cyg" ],
    [1.0, "HD 189733 Vul" ],
    [1.0, "HD 195019 Del" ],
    [1.0, "HD 210277 Aqr" ],
    [1.0, "Heze" ],
    [1.0, "Hind's Crimson" ],
    [1.0, "Homam" ],
    [1.0, "HR 6 Phe" ],
    [1.0, "HR 286 UMi" ],
    [1.0, "HR 306 Cep" ],
    [1.0, "HR 1107 Cep" ],
    [1.0, "HR 1988 Ori" ],
    [1.0, "HR 2447 CMa" ],
    [1.0, "HR 2622 Mon" ],
    [1.0, "HR 2877 Gem" ],
    [1.0, "HR 3497 Vel" ],
    [1.0, "HR 4067 UMa" ],
    [1.0, "HR 4686 UMi" ],
    [1.0, "HR 6094 Sco" ],
    [1.0, "HR 6817 Dra" ],
    [1.0, "HR 6907 Sgr" ],
    [1.0, "HR 7272 Lyr" ],
    [1.0, "HR 7291 Sgr" ],
    [1.0, "HR 7907 Del" ],
    [1.0, "HR 8734 Psc" ],
    [1.0, "HR 8752 Cas" ],
    [1.0, "HR 8799 Peg" ],
    [1.0, "HR 8938 Cep" ],
    [1.0, "Hyadum I" ],
    [1.0, "Hyadum II" ],
    [1.0, "Hydor" ],
    [1.0, "Iota Ari" ],
    [1.0, "Iota Cas" ],
    [1.0, "Iota Cen" ],
    [1.0, "Iota CMa" ],
    [1.0, "Iota Cnc" ],
    [1.0, "Iota Gem" ],
    [1.0, "Iota Her" ],
    [1.0, "Iota Hor" ],
    [1.0, "Iota Leo" ],
    [1.0, "Iota Lep" ],
    [1.0, "Iota Lib" ],
    [1.0, "Iota Peg" ],
    [1.0, "Iota Per" ],
    [1.0, "Iota Psc" ],
    [1.0, "Iota-1 Sco" ],
    [1.0, "Iota-2 Sco" ],
    [1.0, "Izar" ],
    [1.0, "Jabbah" ],
    [1.0, "Kaffaljidhma" ],
    [1.0, "Kakkab" ],
    [1.0, "Kappa Cas" ],
    [1.0, "Kappa Cen" ],
    [1.0, "Kappa-1 Cet" ],
    [1.0, "Kappa Cnc" ],
    [1.0, "Kappa CrB" ],
    [1.0, "Kappa Dra" ],
    [1.0, "Kappa Gem" ],
    [1.0, "Kappa Lup" ],
    [1.0, "Kappa Oph" ],
    [1.0, "Kappa Psc" ],
    [1.0, "Kappa Sco" ],
    [1.0, "Kappa Ser" ],
    [1.0, "Kappa Tau" ],
    [1.0, "Kappa UMa" ],
    [1.0, "Kaus Australis" ],
    [1.0, "Kaus Borealis" ],
    [1.0, "Kaus Media Keid" ],
    [1.0, "Kitalpha" ],
    [1.0, "Kochab" ],
    [1.0, "Kornephoros" ],
    [1.0, "Kraz" ],
    [1.0, "Kullat Nunu" ],
    [1.0, "Kuma" ],
    [1.0, "Kurhah" ],
    [1.0, "KX Lib" ],
    [1.0, "L Car" ],
    [1.0, "L2 Pup La Superba" ],
    [1.0, "Lambda And" ],
    [1.0, "Lambda Ari" ],
    [1.0, "Lambda Aur" ],
    [1.0, "Lambda Boo" ],
    [1.0, "Lambda Cas" ],
    [1.0, "Lambda Cen" ],
    [1.0, "Lambda Cep" ],
    [1.0, "Lambda Cet" ],
    [1.0, "Lambda Cyg" ],
    [1.0, "Lambda Eri" ],
    [1.0, "Lambda Gem" ],
    [1.0, "Lambda Lep" ],
    [1.0, "Lambda Tau" ],
    [1.0, "Lambda UMi" ],
    [1.0, "Lesath" ],
    [1.0, "Maia" ],
    [1.0, "Marfak-East" ],
    [1.0, "Marfak-West" ],
    [1.0, "Marfik" ],
    [1.0, "Markab" ],
    [1.0, "Markeb" ],
    [1.0, "Marsic" ],
    [1.0, "Masym" ],
    [1.0, "Matar" ],
    [1.0, "Mebsuta" ],
    [1.0, "Megrez" ],
    [1.0, "Meissa" ],
    [1.0, "Mekbuda" ],
    [1.0, "Menkalinan" ],
    [1.0, "Menkar" ],
    [1.0, "Menkent" ],
    [1.0, "Menkib" ],
    [1.0, "Merak" ],
    [1.0, "Merope" ],
    [1.0, "Mesarthim" ],
    [1.0, "Miaplacidus" ],
    [1.0, "Mimosa" ],
    [1.0, "Minkar" ],
    [1.0, "Mintaka" ],
    [1.0, "Mira" ],
    [1.0, "Mirach" ],
    [1.0, "Mirfak" ],
    [1.0, "Mirzam" ],
    [1.0, "Mizar" ],
    [1.0, "Mothallah" ],
    [1.0, "Mu And" ],
    [1.0, "Mu Aqr" ],
    [1.0, "Mu Ara" ],
    [1.0, "Mu Cen" ],
    [1.0, "Mu Cet" ],
    [1.0, "Mu Col" ],
    [1.0, "Mu Cru" ],
    [1.0, "Mu Eri" ],
    [1.0, "Mu-1 Gru" ],
    [1.0, "Mu-2 Gru" ],
    [1.0, "Mu Her" ],
    [1.0, "Mu Lep" ],
    [1.0, "Mu Nor" ],
    [1.0, "Mu Oph" ],
    [1.0, "Mu Ori" ],
    [1.0, "Mu Per" ],
    [1.0, "Mu-1 Sco" ],
    [1.0, "Mu Vel" ],
    [1.0, "Mu Vel" ],
    [1.0, "Muhlifain" ],
    [1.0, "Muliphein" ],
    [1.0, "Muliphen" ],
    [1.0, "Muphrid" ],
    [1.0, "Muscida" ],
    [1.0, "Na'ir al Saif" ],
    [1.0, "Naos" ],
    [1.0, "Nashira" ],
    [1.0, "Nekkar" ],
    [1.0, "Nihal" ],
    [1.0, "Nu And" ],
    [1.0, "Nu Aql" ],
    [1.0, "Nu Aqr" ],
    [1.0, "Nu Aur" ],
    [1.0, "Nu-1 Boo" ],
    [1.0, "Nu-2 Boo" ],
    [1.0, "Nu Cen" ],
    [1.0, "Nu Cep" ],
    [1.0, "Nu Cet" ],
    [1.0, "Nu CrB" ],
    [1.0, "Nu Eri" ],
    [1.0, "Nu Gem" ],
    [1.0, "Nu Hya" ],
    [1.0, "Nu Oct" ],
    [1.0, "Nu Oph" ],
    [1.0, "Nu Per" ],
    [1.0, "Nu Pup" ],
    [1.0, "Nu Vir" ],
    [1.0, "Nunki" ],
    [1.0, "Nusakan" ],
    [1.0, "Omega Cap" ],
    [1.0, "Omega Cas" ],
    [1.0, "Omega CMa" ],
    [1.0, "Omega-2 Cyg" ],
    [1.0, "Omega Eri" ],
    [1.0, "Omega Ori" ],
    [1.0, "Omega Psc" ],
    [1.0, "Omega Vir" ],
    [1.0, "Omicron-1 CMa" ],
    [1.0, "Omicron-2 CMa" ],
    [1.0, "Omicron-1 31 Cyg" ],
    [1.0, "Omicron-2 32 Cyg" ],
    [1.0, "Omicron-1 Ori" ],
    [1.0, "Omicron Tau" ],
    [1.0, "OV Cep" ],
    [1.0, "P Cyg" ],
    [1.0, "p Vel" ],
    [1.0, "Peacock" ],
    [1.0, "Persian" ],
    [1.0, "Phact" ],
    [1.0, "Phecda" ],
    [1.0, "Pherkad" ],
    [1.0, "Phi And" ],
    [1.0, "Phi Aqr" ],
    [1.0, "Phi Cas" ],
    [1.0, "Phi Dra" ],
    [1.0, "Phi-1 Ori" ],
    [1.0, "Phi Sgr" ],
    [1.0, "Phi UMa" ],
    [1.0, "Phi Vel" ],
    [1.0, "Pi And" ],
    [1.0, "Pi Aur" ],
    [1.0, "Pi Boo" ],
    [1.0, "Pi Her" ],
    [1.0, "Pi Hya" ],
    [1.0, "Pi Men" ],
    [1.0, "Pi-4 Ori" ],
    [1.0, "Pi-5 Ori" ],
    [1.0, "Pi-1 Peg" ],
    [1.0, "Pi-2 Peg" ],
    [1.0, "Pi PsA" ],
    [1.0, "Pi Pup" ],
    [1.0, "Pi Sco" ],
    [1.0, "Pi-2 UMa" ],
    [1.0, "Plaskett's Star" ],
    [1.0, "Pleione" ],
    [1.0, "Polaris" ],
    [1.0, "Polaris Australis" ],
    [1.0, "Polaris Gal. Bor." ],
    [1.0, "Polis" ],
    [1.0, "Pollux" ],
    [1.0, "Porrima" ],
    [1.0, "Praecipua" ],
    [1.0, "Procyon" ],
    [1.0, "Propus" ],
    [1.0, "Proxima Cen" ],
    [1.0, "Psi-1 Aqr" ],
    [1.0, "Psi Cap" ],
    [1.0, "Psi Ori" ],
    [1.0, "Psi-2 Ori" ],
    [1.0, "Psi UMa" ],
    [1.0, "Psi Vel" ],
    [1.0, "q-1 Eri" ],
    [1.0, "R CrB" ],
    [1.0, "R Hya" ],
    [1.0, "R Leo" ],
    [1.0, "R Lyr" ],
    [1.0, "R Scuti" ],
    [1.0, "Rana" ],
    [1.0, "Rasalas" ],
    [1.0, "Rasalgethi" ],
    [1.0, "Rasalhague" ],
    [1.0, "Rastaban" ],
    [1.0, "Regor" ],
    [1.0, "Regulus" ],
    [1.0, "Rho Aql" ],
    [1.0, "Rho Boo" ],
    [1.0, "Rho Cas" ],
    [1.0, "Rho CrB" ],
    [1.0, "Rho Gem" ],
    [1.0, "Rho Her" ],
    [1.0, "Rho Leo" ],
    [1.0, "Rho Oph" ],
    [1.0, "Rho Sco" ],
    [1.0, "Rigel" ],
    [1.0, "Rigil Kentaurus" ],
    [1.0, "Rijl al Awwa" ],
    [1.0, "Rotanev" ],
    [1.0, "RR Lyrae" ],
    [1.0, "Ruchba" ],
    [1.0, "Ruchbah" ],
    [1.0, "Rukbat" ],
    [1.0, "RX Lep" ],
    [1.0, "S = 15 Mon" ],
    [1.0, "Sabik" ],
    [1.0, "Sadachbia" ],
    [1.0, "Sadalbari (Lambda)" ],
    [1.0, "Sadalbari (Mu)" ],
    [1.0, "Sadalmelik" ],
    [1.0, "Sadalsuud" ],
    [1.0, "Sadr" ],
    [1.0, "Saif al Jabbar" ],
    [1.0, "Saiph" ],
    [1.0, "Scheat" ],
    [1.0, "Seat" ],
    [1.0, "Segin" ],
    [1.0, "Seginus" ],
    [1.0, "Sham" ],
    [1.0, "Shaula" ],
    [1.0, "Shedar" ],
    [1.0, "Sheliak" ],
    [1.0, "Sheratan" ],
    [1.0, "Sigma Aql" ],
    [1.0, "Sigma Boo" ],
    [1.0, "Sigma Cas" ],
    [1.0, "Sigma CMa" ],
    [1.0, "Sigma CrB" ],
    [1.0, "Sigma Cyg" ],
    [1.0, "Sigma Gem" ],
    [1.0, "Sigma Ori" ],
    [1.0, "Sigma Pup" ],
    [1.0, "Sirius" ],
    [1.0, "Skat" ],
    [1.0, "Spica" ],
    [1.0, "Sualocin" ],
    [1.0, "Subra" ],
    [1.0, "Suhail" ],
    [1.0, "Sulafat" ],
    [1.0, "Syrma" ],
    [1.0, "T Cen" ],
    [1.0, "T CrB" ],
    [1.0, "Tabit" ],
    [1.0, "Talitha" ],
    [1.0, "Tania Australis" ],
    [1.0, "Tania Borealis" ],
    [1.0, "Tarazed" ],
    [1.0, "Tau And" ],
    [1.0, "Tau Aur" ],
    [1.0, "Tau Boo" ],
    [1.0, "Tau Cet" ],
    [1.0, "Tau CMa" ],
    [1.0, "Tau Cyg" ],
    [1.0, "Tau-1 Eri" ],
    [1.0, "Tau-4 Eri" ],
    [1.0, "Tau-5 Eri" ],
    [1.0, "Tau-1 Gru" ],
    [1.0, "Tau Her" ],
    [1.0, "Tau Ori" ],
    [1.0, "Tau Per" ],
    [1.0, "Tau Pup" ],
    [1.0, "Tau Sgr" ],
    [1.0, "Tau Vir" ],
    [1.0, "Taygeta" ],
    [1.0, "Tegmine" ],
    [1.0, "Tejat" ],
    [1.0, "Theta Aql" ],
    [1.0, "Theta Aur" ],
    [1.0, "Theta Cap" ],
    [1.0, "Theta Car" ],
    [1.0, "Theta CrB" ],
    [1.0, "Theta Dra" ],
    [1.0, "Theta Her" ],
    [1.0, "Theta Oph" ],
    [1.0, "Theta-1 Ori" ],
    [1.0, "Theta Per" ],
    [1.0, "Theta-1 Tau" ],
    [1.0, "Theta-2 Tau" ],
    [1.0, "Theta UMa" ],
    [1.0, "Theta Vir" ],
    [1.0, "Thuban" ],
    [1.0, "Tureis" ],
    [1.0, "Unukalhai" ],
    [1.0, "Ups And" ],
    [1.0, "Ups Aur" ],
    [1.0, "Ups Cet" ],
    [1.0, "Ups Gem" ],
    [1.0, "Ups Sgr" ],
    [1.0, "Ups UMa" ],
    [1.0, "Vega" ],
    [1.0, "Vindemiatrix" ],
    [1.0, "V Pup" ],
    [1.0, "VV Cep" ],
    [1.0, "VV Ori" ],
    [1.0, "V1334 Cyg" ],
    [1.0, "W Boo" ],
    [1.0, "W Ori" ],
    [1.0, "Wasat" ],
    [1.0, "Wazn" ],
    [1.0, "Wezen" ],
    [1.0, "X Her" ],
    [1.0, "X Per" ],
    [1.0, "X Sgr" ],
    [1.0, "X TrA" ],
    [1.0, "Xi Aql" ],
    [1.0, "Xi Boo" ],
    [1.0, "Xi-1 Cet" ],
    [1.0, "Xi-2 Cet" ],
    [1.0, "Xi Cyg" ],
    [1.0, "Xi Oph" ],
    [1.0, "Xi Peg" ],
    [1.0, "Xi Ser" ],
    [1.0, "Xi Tau" ],
    [1.0, "XY Lyr" ],
    [1.0, "Yed Posterior" ],
    [1.0, "Yed Prior" ],
    [1.0, "Yildun" ],
    [1.0, "YY Gem" ],
    [1.0, "Zaniah" ],
    [1.0, "Zaurak" ],
    [1.0, "Zavijava" ],
    [1.0, "Zeta Aqr" ],
    [1.0, "Zeta Ara" ],
    [1.0, "Zeta Boo" ],
    [1.0, "Zeta Cap" ],
    [1.0, "Zeta Cas" ],
    [1.0, "Zeta Cen" ],
    [1.0, "Zeta Cep" ],
    [1.0, "Zeta Cru" ],
    [1.0, "Zeta Cyg" ],
    [1.0, "Zeta Her" ],
    [1.0, "Zeta Hya" ],
    [1.0, "Zeta Lep" ],
    [1.0, "Zeta Lup" ],
    [1.0, "Zeta Lyr" ],
    [1.0, "Zeta Mon" ],
    [1.0, "Zeta Oph" ],
    [1.0, "Zeta Per" ],
    [1.0, "Zeta Phe" ],
    [1.0, "Zeta Ret" ],
    [1.0, "Zeta Scl" ],
    [1.0, "Zeta-1 Sco" ],
    [1.0, "Zeta Sge" ],
    [1.0, "Zeta Tau" ],
    [1.0, "Zeta Tuc" ],
    [1.0, "Zibal" ],
    [1.0, "Zosma" ],
    [1.0, "Zubenelgenubi" ],
    [1.0, "Zubeneschamali" ],
    [1.0, "Zubenhakrabi" ],
    [1.0, "1 Gem" ],
    [1.0, "2 Cen" ],
    [1.0, "2 Lac" ],
    [1.0, "2 UMi" ],
    [1.0, "3 Cen" ],
    [1.0, "3 Vul" ],
    [1.0, "6 Cas" ],
    [1.0, "6 Gem" ],
    [1.0, "6 Tri" ],
    [1.0, "8 Her" ],
    [1.0, "9 Cet" ],
    [1.0, "10 Dra" ],
    [1.0, "10 Lac" ],
    [1.0, "10 UMa" ],
    [1.0, "10 SGB" ],
    [1.0, "12 Boo" ],
    [1.0, "13 Mon" ],
    [1.0, "14 Aur" ],
    [1.0, "14 Her" ],
    [1.0, "16 Cyg" ],
    [1.0, "16 Dra" ],
    [1.0, "17 Dra" ],
    [1.0, "18 Sco" ],
    [1.0, "19 Cep" ],
    [1.0, "19 Psc" ],
    [1.0, "21 LMi" ],
    [1.0, "23 Lib" ],
    [1.0, "23 UMa" ],
    [1.0, "24 UMi" ],
    [1.0, "25 Ori" ],
    [1.0, "29 Cyg" ],
    [1.0, "30 Her" ],
    [1.0, "30 Tau" ],
    [1.0, "31 Aql" ],
    [1.0, "31 Ori" ],
    [1.0, "32 Ori" ],
    [1.0, "35=UU Psc" ],
    [1.0, "38 Lyn" ],
    [1.0, "40 Per" ],
    [1.0, "41 Ari" ],
    [1.0, "43 Cas" ],
    [1.0, "47 UMa" ],
    [1.0, "48 Lib" ],
    [1.0, "48 Per" ],
    [1.0, "51 Peg" ],
    [1.0, "52 Cyg" ],
    [1.0, "53 Aqr" ],
    [1.0, "53 Per" ],
    [1.0, "54 Leo" ],
    [1.0, "54 Psc" ],
    [1.0, "55 Cnc" ],
    [1.0, "59 Cyg" ],
    [1.0, "60 Leo" ],
    [1.0, "61 Cyg" ],
    [1.0, "61 Vir" ],
    [1.0, "67 Oph" ],
    [1.0, "68 Her" ],
    [1.0, "70 Oph" ],
    [1.0, "70 Vir" ],
    [1.0, "72 Leo" ],
    [1.0, "78 UMa" ],
    [1.0, "78 Vir" ],
    [1.0, "79 Cet" ],
    [1.0, "89 Her" ],
    [1.0, "94 Cet" ],
    [1.0, "95 Her" ],
    [1.0, "109 Psc" ],
    [1.0, "119=CE Tau" ],
    // community additions
    [1.0, "Iris" ],
    [1.0, "Marsha" ],
    [1.0, "Luna" ],
    [1.0, "Indie" ],
    [1.0, "Tiy" ],
    [1.0, "Demanrisu" ],
    [1.0, "Raze" ],
    [1.0, "Great Griddle" ],
    [1.0, "Glowygos" ],
    [1.0, "Iraculi" ],
    [1.0, "Kyren" ],
    [1.0, "Bartwe" ],
    [1.0, "Pulso" ],
    [1.0, "Araxis" ],
    [1.0, "Yulan" ],
    [1.0, "Vaxas" ],
    [1.0, "Xini" ],
    [1.0, "Nye" ],
    [1.0, "Umbraxion" ],
    [1.0, "Thormiun" ],
    [1.0, "Hypernexus" ],
    [1.0, "Kalodox" ],
    [1.0, "Requia" ],
    [1.0, "Colloque" ],
    [1.0, "Ragnarok" ],
    [1.0, "Tootooki" ],
    [1.0, "Pyrocia" ],
    [1.0, "Aquacia" ],
    [1.0, "Aerocia" ],
    [1.0, "Umbracia" ],
    [1.0, "Necrocia" ],
    [1.0, "Cryocia" ],
    [1.0, "Electrocia" ],
    [1.0, "Dracocia" ],
    [1.0, "Chronotias" ],
    [1.0, "Diabli" ],
    [1.0, "Omnibenevo" ],
    [1.0, "Omnimalevo" ],
    [1.0, "Unios" ],
    [1.0, "Duania" ],
    [1.0, "Triaci" ],
    [1.0, "Quatraz" ],
    [1.0, "Atomilion" ],
    [1.0, "Assimilia" ],
    [1.0, "Decimata" ],
    [1.0, "Velocia" ],
    [1.0, "Datoa" ],
    [1.0, "Tiko" ],
    [1.0, "Vix" ],
    [1.0, "Umbria" ],
    [1.0, "Aei" ],
    [1.0, "Omicron" ],
    [1.0, "Epsilo" ],
    [1.0, "Alpha Tiyutauri" ],
    [1.0, "Alpha Tiyuri" ],
    [1.0, "Solaire" ],
    [1.0, "Syzygy" ],
    [1.0, "alidsl" ],
    [1.0, "Leela" ],
    [1.0, "Calliope" ],
    [1.0, "Clio" ],
    [1.0, "Erato" ],
    [1.0, "Euterpe" ],
    [1.0, "Melpomene" ],
    [1.0, "Polyhymnia" ],
    [1.0, "Terpsichore" ],
    [1.0, "Thalia " ],
    [1.0, "Urania" ],
    [1.0, "Underwood" ],
    [1.0, "Elebis" ],
    [1.0, "Gloomii" ],
    [1.0, "Zoinks" ],
    [1.0, "Telladar" ],
    [1.0, "Bram" ],
    [1.0, "Hoyle" ],
    [1.0, "Vixxarius" ],
    [1.0, "Myn" ],
    [1.0, "Rappart" ],
    [1.0, "Qwom" ],
    [1.0, "Gor" ],
    [1.0, "Chimakah" ],
    [1.0, "Marsin" ],
    [1.0, "Ardentee" ],
    [1.0, "Ramfar" ],
    [1.0, "Babalohn" ],
    [1.0, "Seeta" ],
    [1.0, "Gautam" ],
    [1.0, "Gita" ],
    [1.0, "Maimon" ],
    [1.0, "Merkab" ],
    [1.0, "Zoha" ],
    [1.0, "Aten" ],
    [1.0, "Malkut" ],
    [1.0, "Tiferet" ],
    [1.0, "Keter" ],
    [1.0, "Be'el" ],
    [1.0, "Beeblebrox" ],
    [1.0, "Vinnland" ],
    [1.0, "Celestia" ],
    [1.0, "Canoodle" ],
    [1.0, "Flummox" ],
    [1.0, "Goombah" ],
    [1.0, "Zerus" ],
    [1.0, "Illusoria" ],
    [1.0, "Horsebutt" ],
    [1.0, "Obsecri" ],
    [1.0, "Hyperion" ],
    [1.0, "Kipkron" ],
    [1.0, "Ultragon" ],
    [1.0, "Zell" ],
    [1.0, "Puxerion" ],
    [1.0, "Redditron" ],
    [1.0, "Vadrock" ],
    [1.0, "Magrathea" ],
    [1.0, "Krikkit" ],
    [1.0, "Viltvodle VI" ],
    [1.0, "Migli" ],
    [1.0, "Aglleos" ],
    [1.0, "Pitcheon" ],
    [1.0, "Sethusk" ],
    [1.0, "Eulernia" ],
    [1.0, "Earneck" ],
    [1.0, "Zentalion" ],
    [1.0, "Icarus" ],
    [1.0, "Xixivaius" ],
    [1.0, "Aserbus" ],
    [1.0, "Hamasaki" ],
    [1.0, "Litus" ],
    [1.0, "Kuro" ],
    [1.0, "Cruithne" ],
    [1.0, "Nenneto" ],
    [1.0, "Chisti" ],
    [1.0, "Kalila" ],
    [1.0, "Et'hahlid" ],
    [1.0, "Xetonarus" ],
    [1.0, "Larkheed" ],
    [1.0, "Bazingo" ],
    [1.0, "Gamma Koric" ],
    [1.0, "Shaunabean" ],
    [1.0, "Xaerolloux" ],
    [1.0, "Kyron" ],
    [1.0, "Lagomorpha" ],
    [1.0, "Lapine" ],
    [1.0, "Moirai" ],
    [1.0, "Tartarus" ],
    [1.0, "Aether" ],
    [1.0, "Apate" ],
    [1.0, "Oizys" ],
    [1.0, "Ratatoskr" ],
    [1.0, "Thanatos" ],
    [1.0, "Yggdrasil" ],
    [1.0, "Gaia" ],
    [1.0, "Oneiroi" ],
    [1.0, "Geras" ],
    [1.0, "Geras" ],
    [1.0, "Erebus" ],
    [1.0, "Integra" ],
    [1.0, "Asgardion" ],
    [1.0, "Alvas" ],
    [1.0, "Lacrecille" ],
    [1.0, "Merquia" ],
    [1.0, "Parletty" ],
    [1.0, "Sharcedon" ],
    [1.0, "Neronoia" ],
    [1.0, "Ichora" ],
    [1.0, "Lululit" ],
    [1.0, "Lacedia" ],
    [1.0, "Meridie" ],
    [1.0, "Tessera" ],
    [1.0, "Zeces" ],
    [1.0, "Folcetta" ],
    [1.0, "Helgavisa" ],
    [1.0, "Astrax" ],
    [1.0, "Zormedra" ],
    [1.0, "Mendragol" ],
    [1.0, "Zol" ],
    [1.0, "Prima-nor" ],
    [1.0, "Ceti-Nine" ],
    [1.0, "Veragon" ],
    [1.0, "Acera" ],
    [1.0, "Karaxis" ],
    [1.0, "Skios" ],
    [1.0, "Thanatos" ],
    [1.0, "Naurluin" ],
    [1.0, "Korvin" ],
    [1.0, "Joson" ],
    [1.0, "Omniculpa" ],
    [1.0, "Stegamagister" ],
    [1.0, "Tenebris" ],
    [1.0, "Venator" ],
    [1.0, "Torcularis" ],
    [1.0, "Fribbilus Xax" ],
    [1.0, "Fargle VIII" ],
    [1.0, "Celestal" ],
    [1.0, "Luun" ],
    [1.0, "Pikka" ],
    [1.0, "Ronder" ],
    [1.0, "Vitus Gigantus" ],
    [1.0, "Exibiir" ],
    [1.0, "Qigon" ],
    [1.0, "Occeing" ],
    [1.0, "Epingi" ],
    [1.0, "Unba" ],
    [1.0, "Eleion" ],
    [1.0, "Aaoe" ],
    [1.0, "Shilvina" ],
    [1.0, "Ortopia" ],
    [1.0, "Embroxillia" ],
    [1.0, "Aurius" ],
    [1.0, "Symbillius" ],
    [1.0, "Maximus" ],
    [1.0, "Pyromia" ],
    [1.0, "Parcomium" ],
    [1.0, "Intrapillium" ],
    [1.0, "Aximia" ],
    [1.0, "Aeria" ],
    [1.0, "Markithion" ],
    [1.0, "Chimpunius" ],
    [1.0, "Loksdol" ],
    [1.0, "Marinius" ],
    [1.0, "charr" ],
    [1.0, "Magna Lupo" ],
    [1.0, "Syrinx" ],
    [1.0, "Rempe" ],
    [1.0, "Copernicus" ],
    [1.0, "Baomra" ],
    [1.0, "Lathasia" ],
    [1.0, "Senet" ],
    [1.0, "Beartonias" ],
    [1.0, "Vyrmyryl" ],
    [1.0, "Dumile" ],
    [1.0, "Gath Memvar" ],
    [1.0, "Kyatz" ],
    [1.0, "Evival" ],
    [1.0, "Ondor" ],
    [1.0, "Moatoron" ],
    [1.0, "Lumens" ],
    [1.0, "Waimai" ],
    [1.0, "Toxidion" ],
    [1.0, "Friedstar" ],
    [1.0, "Waterosa " ],
    [1.0, "Maiia" ],
    [1.0, "Doppledae" ],
    [1.0, "Terminatus" ],
    [1.0, "Oswin" ],
    [1.0, "Pond" ],
    [1.0, "Astrix" ],
    [1.0, "Oatem" ],
    [1.0, "Tomoch" ],
    [1.0, "Luxsol" ],
    [1.0, "Chuantak" ],
    [1.0, "Premium" ],
    [1.0, "Orabelli" ],
    [1.0, "Melpomenia" ],
    [1.0, "Doppledae" ],
    [1.0, "Gordon" ],
    [1.0, "Utharex" ],
    [1.0, "Wonton" ],
    [1.0, "Alyond" ],
    [1.0, "Graros" ],
    [1.0, "Balon" ],
    [1.0, "Mezzgorg" ],
    [1.0, "Glynaith" ],
    [1.0, "Zepjub" ],
    [1.0, "Sloodhon" ],
    [1.0, "Alice" ],
    [1.0, "Harobed" ],
    [1.0, "Skaarj" ],
    [1.0, "Maya" ],
    [1.0, "Lilith" ],
    [1.0, "Duskwood" ],
    [1.0, "Sabby" ],
    [1.0, "Vadrock" ],
    [1.0, "Lenna" ],
    [1.0, "Krism" ],
    [1.0, "Councilos" ],
    [1.0, "Dexter" ],
    [1.0, "Crosbot" ],
    [1.0, "Lesloy" ],
    [1.0, "Siru" ],
    [1.0, "Ruthion-Prime" ],
    [1.0, "Gerian" ],
    [1.0, "Vaastolaan" ],
    [1.0, "Andrea" ],
    [1.0, "Glados" ]

  ],

  "systemPrefixNames" : [
    [1.0, "Alpha" ],
    [1.0, "Beta" ],
    [1.0, "Gamma" ],
    [1.0, "Delta" ],
    [1.0, "Epsilon" ]
  ],

  "systemSuffixNames" : [
    [1.0, "Majoris" ],
    [1.0, "Minoris" ],
    [2.0, "<twodigit>" ],
    [2.0, "<threedigit>" ],
    [2.0, "<fourdigit>" ]
  ],

  "planetarySuffixes" : [ "I", "II", "III", "IV", "V", "VI", "VII", "VIII", "IX", "X", "XI", "XII" ],
  "satelliteSuffixes" : [ "a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l" ]
}
