{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/trading_automat/trading_automat_header.png",
      "fileBody" : "/interface/trading_automat/trading_automat_body.png",
      "fileFooter" : "/interface/trading_automat/trading_automat_footer.png"
    },
	"manual" :
	{
	"type" : "image",
	"position" : [26, 78],
	"file" : "/codex/documents/bossbook.png"
	},
	"labelcodex1" :
	{
	"type" : "label",
	"position" : [34, 69],
	"hAnchor" : "mid",
	"value" : "Read",
	"color" : [255, 20, 20]
	
	},
	"labelcodex2" :
		{
	"type" : "label",
	"position" : [34, 63],
	"hAnchor" : "mid",
	"value" : "the",
	"color" : [255, 20, 20]
	
	},
	"labelcodex3" : 
		{
	"type" : "label",
	"position" : [34, 57],
	"hAnchor" : "mid",
	"value" : "manual",
	"color" : [255, 20, 20]
	
	},
	"labelcodex4" :
	{
	"type" : "label",
	"position" : [34, 51],
	"hAnchor" : "mid",
	"value" : "first!",
	"color" : [255, 20, 20]
	
	},
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [74, 58],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [110, 39],
      "dimensions" : [1, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [96, 61],
      "file" : "/interface/trading_automat/trading_automat_arrow.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/trading_automat/trading_automat_shine.png",
      "position" : [-20, 20]
    }
  }
}
