{
  "biome" : "asteroids",
  "gravityRange" : [0, 0],
  "worldSize" : [16000, 7000],

  "blockNoise" : {
    "horizontalNoise" : {
      "type" : "Perlin",
      "octaves" : 7,
      "frequency" : 0.0017,
      "amplitude" : 200,
      "alpha" : 1.4,
      "beta" : 2.0
    },

    "verticalNoise" : {
      "type" : "Perlin",
      "octaves" : 7,
      "frequency" : 0.002,
      "amplitude" : 80,
      "alpha" : 1.6,
      "beta" : 2.0
    },

    "noise" : {
      "type" : "Perlin",
      "octaves" : 4,
      "frequency" : 0.1,
      "amplitude" : 8,
      "alpha" : 1.8,
      "beta" : 2.0
    }
  },

  "terrains" : [
    {
      "terrainSelector" : "asteroids",
      "caveSelector" : "empty",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "empty"
    }
  ],

  "emptyTerrain" : {
    "terrainSelector" : "empty",
    "caveSelector" : "empty",
    "bgCaveSelector" : "empty",
    "subBlockSelector" : "empty",
    "oreSelector" : "empty"
  },

  "threatRange" : [1, 1],
  "terrain" : [ "debrisfield" ],
  "asteroidsTop" : 5000,
  "asteroidsBottom" : 2000,
  "blendSize" : 50,

  "ambientLightLevel" : [128, 128, 128]
}
